@model Entity.Usuario
@{
	Layout = "~/Views/Shared/_Layout_Login.cshtml";
	ViewBag.Title = "Login_";
}

<div class="row justify-content-center">
	<div class="col-xl-10 col-lg-12 col-md-9">
		<br /> <br /> <br /><br /><br /><br /><br />
		<div class="card o-hidden border-0 shadow-lg my-5">
			<div class="card-body p-0">
				<!-- Nested Row within Card Body -->
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block bg-dark" style="background-image: url('../img/login/logo-ht2.png') "></div>
					<div class="col-lg-6">
						<div class="p-5">
							<div class="text-center">
								<h1 class="h4 text-gray-900 mb-4">Iniciar Sesión</h1>
							</div>
							<div style="color:red;">
								@ViewBag.Message1
							</div>
							<br />
							<form class="signup-form" method="post" action="#">
								@using (Html.BeginForm("Login_", "Login", FormMethod.Post, new { @class = "form-group" }))
								{

									<div class="form-group ">
										<div class="input-group  mb-0">
											<div class="input-group-prepend">
												<span class="input-group-text" id="inputGroup-sizing-sm"><i class="fas fa-user"></i></span>
											</div>
											@Html.TextBoxFor(d1 => d1.codigo, new { @class = "form-control form-control-user", @placeholder = "Usuario" })

										</div>
										@Html.ValidationMessageFor(d1 => d1.codigo, "", new { @class = "text-danger", @font_size = "1" })

									</div>

									<div class="form-group ">
										<div class="input-group  mb-0">
											<div class="input-group-prepend">
												<span class="input-group-text" id="inputGroup-sizing-sm"><i class="fas fa-unlock-alt"></i></span>
											</div>
											@Html.PasswordFor(d1 => d1.contraseña, new { @class = "form-control form-control-user ", @placeholder = "Contraseña" })
										</div>
										@Html.ValidationMessageFor(d1 => d1.contraseña, "", new { @class = "text-danger" })

									</div>
									<div class="form-group">
										<div class="custom-control custom-checkbox small">
											<input type="checkbox" class="custom-control-input" id="customCheck">
											<label class="custom-control-label" for="customCheck">Remember Me</label>
										</div>
									</div>
									<input type="submit" value="Login" class="btn btn-danger btn-user btn-block" />
								}
							</form>
							<hr>
							<div class="text-center">
								<a class="small text-danger" href="@Url.Action("Forgot_Password", "Login")">Forgot Password?</a>

							</div>
                            <!--
							<div class="text-center">
								<a class="small text-danger" href="#">Create an Account!</a>
							</div>
                            -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>