@model Entity.Ticket
@{
	Layout = "~/Views/Shared/_Layout_Vista.cshtml";
	ViewBag.Title = "Details";

}
<body>

	<div class="col-lg-12">
		<div class="card shadow mb-4">
			<div class="card-header">
				<h6 class="m-0 font-weight-bold text-dark">HISTORIAL DE TICKETS</h6>
			</div>



			<div class="container">
			

				<div class="form-horizontal">
					<h4>Ticket</h4>
					<hr />
				
					<div class="form-group">
						<h5 class="col-md-10">Codigo del ticket</h5>
						<div class="col-md-10">
						
							@Html.DisplayFor(model => model.codigo_atencion)
						</div>
					</div>
					
					<div class="form-group">
						<h5 class="col-md-10">Topico</h5>
						<div class="col-md-10">
							@Html.DisplayFor(model => model.Topico.topico)
						</div>
					</div>
					<div class="form-group">
						<h5 class="col-md-10">Trabajador asignado</h5>
						<div class="col-md-10">
							@Html.DisplayFor(model => model.asignado_id)
						</div>
					</div>

					<div class="form-group">
						<h5 class="col-md-10">Importancia</h5>
						<div class="col-md-10">
							@Html.DisplayFor(model => model.importancia)
						</div>
					</div>
					<div class="form-group">
						<h5 class="col-md-10">Desacripcion</h5>
						<div class="col-md-10">
							@Html.DisplayFor(model => model.descripcion)
						</div>
					</div>
					<div class="form-group">
						<h5 class="col-md-10">Estado</h5>
						<div class="col-md-10">
							@Html.DisplayFor(model => model.estado)
						</div>
					</div>
					<div class="form-group">
						<h5 class="col-md-10">Fecha Solicitado</h5>
						<div class="col-md-10">
							@Html.DisplayFor(model => model.fecha_solicitado)
						</div>
					</div>
					<div class="form-group">
						<h5 class="col-md-10">Fecha asignado</h5>
						<div class="col-md-10">
							@Html.DisplayFor(model => model.fecha_asignado)
						</div>
					</div>
					<div class="form-group">
						<h5 class="col-md-10">Fecha finalizado</h5>
						<div class="col-md-10">
							@Html.DisplayFor(model => model.fecha_finalizado)
						</div>
					</div>
					<div class="form-group">
						<h5 class="col-md-10">Aprobador</h5>
						<div class="col-md-10">
							@Html.DisplayFor(model => model.aprobador_id)
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<a href="@Url.Action("VerTickets","ModuloCliente")" class="btn btn-secondary" id="btnReturn">Retornar</a>
						</div>
					</div>
				</div>
			

			</div>

			</div>
	</div>
</body>