@model Entity.Ticket
@{
	Layout = "~/Views/Shared/_Layout_Vista.cshtml";
	ViewBag.Title = "Details";

}

<body>
	<div class="col-lg-12">
		<div class="card shadow mb-4">
			<div class="card-header">
				<h6 class="m-0 font-weight-bold text-dark">Detalle tickets</h6>
			</div>
			<div class="card-body card-block border-bottom-light">
				@if (ViewBag.Error1 != null)
				{
					<div class="container">
						<div class="alert alert-danger alert-dismissible">
							<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<strong>Error!</strong> @ViewBag.Error1
						</div>
					</div>
				}
				<div class="container">
					@using (Html.BeginForm())
					{
						@Html.AntiForgeryToken()

					<div class="form-horizontal">
						<hr />
						@Html.ValidationSummary(true, "", new { @class = "text-danger" })
						<div class="form-group row">
							<label for="staticUsuario" class="col-md-2 col-form-label" style="color:black;font-weight:bold;">Codigo del ticket: </label>
							<div class="col-md-10">
								@Html.EditorFor(model => model.codigo_atencion, new { htmlAttributes = new { @class = "form-control", style = "cursor: not-allowed;color:black;", disabled = "disabled" } })
							</div>
						</div>
						<br>
						<div class="form-group row">

							<label for="staticUsuario" class="col-md-2 col-form-label" style="color:black;font-weight:bold;">Topico : </label>
							<div class="col-md-10">
								@Html.EditorFor(model => model.Topico.topico, new { htmlAttributes = new { @class = "form-control", style = "cursor: not-allowed;color:black;", disabled = "disabled" } })
							</div>
						</div>
						<br>
						<div class="form-group row">
							<label for="staticUsuario" class="col-md-2 col-form-label" style="color:black;font-weight:bold;">Trabajador asignado: </label>
							<div class="col-md-10">
								@Html.EditorFor(model => model.Usuario_Modulo_Rol.usuario_id, new { htmlAttributes = new { @class = "form-control", style = "cursor: not-allowed;color:black;", disabled = "disabled" } })
							</div>
						</div>
						<br>
						<div class="form-group row">
							<label for="staticUsuario" class="col-md-2 col-form-label" style="color:black;font-weight:bold;">Descripcion: </label>
							<div class="col-md-10">
								@Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control", style = "cursor: not-allowed;color:black;", disabled = "disabled" } })
							</div>
						</div>
						<div class="form-group row">
							<label for="staticUsuario" class="col-md-2 col-form-label" style="color:black;font-weight:bold;">Estado: </label>
							<div class="col-md-10">
								@Html.EditorFor(model => model.estado, new { htmlAttributes = new { @class = "form-control", style = "cursor: not-allowed;color:black;", disabled = "disabled" } })
							</div>
						</div>
						<br>
						<div class="form-group row">
							<label for="staticUsuario" class="col-md-2 col-form-label" style="color:black;font-weight:bold;">Fecha Solicitado: </label>
							<div class="col-md-10">
								@Html.EditorFor(model => model.fecha_solicitado, new { htmlAttributes = new { @class = "form-control", style = "cursor: not-allowed;color:black;", disabled = "disabled" } })
							</div>
						</div>
						<br>
						<div class="form-group row">
							<label for="staticUsuario" class="col-md-2 col-form-label" style="color:black;font-weight:bold;">Fecha asignado: </label>
							<div class="col-md-10">
								@Html.EditorFor(model => model.fecha_asignado, new { htmlAttributes = new { @class = "form-control", style = "cursor: not-allowed;color:black;", disabled = "disabled" } })
							</div>
						</div>
						<br>
						<div class="form-group row">
							<label for="staticUsuario" class="col-md-2 col-form-label" style="color:black;font-weight:bold;">Fecha finalizado: </label>
							<div class="col-md-10">
								@Html.EditorFor(model => model.fecha_finalizado, new { htmlAttributes = new { @class = "form-control", style = "cursor: not-allowed;color:black;", disabled = "disabled" } })
							</div>
						</div>
						<br>
						<br>
						<div class="form-group text-center">
							
							<a href="@Url.Action("VerTickets","ModuloCliente")" class="btn btn-secondary" id="btnReturn">Retornar</a>
						</div>
					</div>
					}
				</div>
			</div>
		</div>
	</div>
</body>



