@{
    Layout = "~/Views/Shared/_Layout_Vista.cshtml";
    ViewBag.Title = "Cliente";
}
@if (ViewBag.Agregado != null)
{
    <div class="container">
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Éxito!</strong> @ViewBag.Agregado
        </div>
    </div>
}

@if (ViewBag.mensajeInformativo != null)
{
    <div class="container">
        <div class="alert alert-warning alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Atención!</strong> @ViewBag.mensajeInformativo
        </div>
    </div>
}

@if (ViewBag.Error != null)
{
    <div class="container">
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong> @ViewBag.Error
        </div>
    </div>
}

<div class="container">
    <h2>Ver Tickets</h2>
    <p>Todos tus tickets solicitados</p>
    <table class="table">
        <thead>
            <tr>
                <th>Codigo de Atención</th>
                <th>Solicitante</th>
                <th>Tópico</th>
                <th>Estado</th>
                <th>Detalles</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.ListaTicketsAsignados)
            {
                <tr>
                    <td>@item.codigo_atencion</td>
                    <td>@item.solicitante_nombre</td>
                    <td>@item.topico</td>
                    <td>@item.estado</td>
                    <td><a href="#">Ver</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>