@model Entity.Ticket
@{
    ViewBag.Title = "Editar_Tickets";
    Layout = "~/Views/Shared/_Layout_Administrador.cshtml";
}

<body>

    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header" @*style="background-color: goldenrod;color: white;"*@>
                <h6 class="m-0 font-weight-bold text-dark">ADMINISTRADOR DE ROLES</h6>
            </div>
            <div class="card-body card-block border-bottom-light">

                <div class="container">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h6 class="m-0 font-weight-bold text-dark">EDITAR</h6>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group row">
                                <label for="staticUsuario" class="col-md-2 col-form-label" style="color:black;font-weight:bold;">Ticket: </label>
                                <div class="col-md-10">

                                    @Html.EditorFor(model => model.codigo_atencion, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.codigo_atencion, "", new { @class = "text-danger" })
                                    @*<select class="form-control" style="cursor: not-allowed;color:black;" disabled="disabled">
                                            <option>@Model.codigo_atencion</option>
                                        </select>*@
                                    @* @Html.TextBox("userN", null, new { style = "text-transform:uppercase ", @class = "form-control", value = "userN", @disabled = "disabled" })*@


                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <label for="staticUsuario" class="col-md-2 col-form-label" style="color:black;font-weight:bold;">Solicitante: </label>
                                <div class="col-md-10">
                                    <select class="form-control" style="cursor: not-allowed;color:black;" disabled="disabled">

                                        <option>@Model.solicitante_id</option>

                                    </select>
                                </div>
                            </div>
                            <br>



                            <div class="form-group row">
                                <label for="staticUsuario" class="col-md-2 col-form-label" style="color:black;font-weight:bold;">Topico: </label>
                                <div class="col-md-10 ">
                                    @Html.DropDownListFor(model => model.topico_id,
                                                   new SelectList(ViewBag.topicos, "id", "topico", "")
                                                   , "---Select---", "")
                                    @Html.ValidationMessageFor(model => model.topico_id, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br>



                            <br>

                            <div class="form-group text-center">
                                <input type="submit" value="Guardar" class="btn btn-info btn-group-toggle" style="background-color :lightseagreen" />
                                <a href="@Url.Action("VerTicketsClientes","ModuloAdministrador")" class="btn btn-secondary" id="btnReturn">Retornar</a>

                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</body>



@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>Ticket</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.codigo_atencion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.codigo_atencion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.codigo_atencion, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.solicitante_id, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.solicitante_id, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.solicitante_id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Topico.topico, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.topico_id, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.topico_id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }*@
