
@model HelpTicket.Models.Contenedor_Modelos
@{
	ViewBag.Title = "Reportes";
	Layout = "~/Views/Shared/_Layout_Administrador.cshtml";
}
<html>
<head>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChartPie5);
    function drawChartPie5() {
        var dataJson;
        $.ajax({
            url: '@Url.Action("JsonGRAFTicketsXTopico")', // to get the right path to controller from TableRoutes of Asp.Net MVC
            dataType: "json", //to work with json format
            type: "POST", //to do a post request
            contentType: 'application/json; charset=utf-8', //define a contentType of your request
            cache: false, //avoid caching results
            data: {}, // here you can pass arguments to your request if you need
            success: function (dataJson) {
                var arrOutside = new Array();
                var heading = ["topico", "tickets"];
                arrOutside[0] = heading;
                if (dataJson.length > 0) {
                for (var i = 0; i < dataJson.length; i++) {
					var arr = [dataJson[i].topico, dataJson[i].tickets];
                    arrOutside[i + 1] = arr;
                }
                var gdata = new google.visualization.arrayToDataTable(arrOutside);
					var options = {
					title: 'Distribución de tickets generados por Tópico ',
                    legend: 'right',
                    width: '100%', height: '300', chartArea: { left: 5, top: 5, width: '100%', height: '300', },
                    animation: {
                        "startup": true,
                        duration: 2000,
                        easing: 'out'
                    },
                    pieHole: 0.4,
						colors: ['#FFBF00', '#04B45F', '#0174DF', '#e74a3b','#572364'],
                    vAxis: {
                    title: 'Promedio',
                    maxValue :5,
                }
                };
                var chart = new google.visualization.PieChart(document.getElementById('piechart3'));
                chart.draw(gdata, options);
                $(window).resize(function () {
                    drawChartPie5();
                });
                }
            },
            error: function (xhr) {
                //alert('error' + xhr[0]);
            }
        });
    };
	</script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChartPie5);
    function drawChartPie5() {
        var dataJson;
        $.ajax({
            url: '@Url.Action("JsonGRAFTicketsXDepartamento")', // to get the right path to controller from TableRoutes of Asp.Net MVC
            dataType: "json", //to work with json format
            type: "POST", //to do a post request
            contentType: 'application/json; charset=utf-8', //define a contentType of your request
            cache: false, //avoid caching results
            data: {}, // here you can pass arguments to your request if you need
            success: function (dataJson) {
                var arrOutside = new Array();
                var heading = ["departamento" ,"tickets"];
                arrOutside[0] = heading;
                if (dataJson.length > 0) {
                for (var i = 0; i < dataJson.length; i++) {
					var arr = [dataJson[i].departamento,dataJson[i].tickets];
                    arrOutside[i + 1] = arr;
                }
					var gdata = new google.visualization.arrayToDataTable(arrOutside);
					var options = {
						title: 'Distribución de tickets generados por departamento ',
						animation: {
                        "startup": true,
                        duration: 2000,
                        easing: 'out'
						},

						chartArea: { width: '50%' },
						hAxis: {
							title: 'Total Tickets',
							minValue: 0
						},
						vAxis: {
							title: 'Departamentos'
						}
					};

                //var options = {
                //    legend: 'right',
                //    width: '100%', height: '300', chartArea: { left: 5, top: 5, width: '100%', height: '300', },
                //    animation: {
                //        "startup": true,
                //        duration: 2000,
                //        easing: 'out'
                //    },
                //    pieHole: 0.4,
                //    colors: ['#FFBF00', '#04B45F', '#0174DF','#e74a3b'],
                //    vAxis: {
                //    title: 'Promedio',
                //    maxValue :5,
                //}
                //};
					var chart = new google.visualization.BarChart(document.getElementById('piechart4'));
                chart.draw(gdata, options);
                $(window).resize(function () {
                    drawChartPie5();
                });
                }
            },
            error: function (xhr) {
                //alert('error' + xhr[0]);
            }
        });
    };
	</script>




	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

	<script type="text/javascript">
            google.charts.load('current', { packages: ['corechart', 'bar'] });
            google.charts.setOnLoadCallback(drawStacked);
            function drawStacked(){
        var dataJson;
        $.ajax({
            url: '@Url.Action("JsonGRAFUsuariosXTopico")', // to get the right path to controller from TableRoutes of Asp.Net MVC
            dataType: "json", //to work with json format
            type: "POST", //to do a post request
            contentType: 'application/json; charset=utf-8', //define a contentType of your request
            cache: false, //avoid caching results
            data: {}, // here you can pass arguments to your request if you need
            success: function (dataJson) {
                var arrOutside = new Array();
                var heading = ["Topico", "Cantidades"];
                arrOutside[0] = heading;
                if (dataJson.length > 0) {
                for (var i = 0; i < dataJson.length; i++) {
                    var arr = [dataJson[i].topico, dataJson[i].cantidad];

                    arrOutside[i + 1] = arr;
                }
                var gdata = new google.visualization.arrayToDataTable(arrOutside);
                    var options = {
                        title: 'Distribucion de cantidad de trabajadores por Skill',
                        chartArea: { width: '60%', height: '50%' },
                        width: 900,
                        height: 600,
                        bar: { groupWidth: '75%' },
                        isStacked: true,
                        hAxis: {
                            title: 'Porcentaje',
                            minValue: 0,
                        },
                        vAxis: {
                            title: 'Skill'
                        }
                    };
                    var chart = new google.visualization.BarChart(document.getElementById('chart_div1'));
                    chart.draw(gdata, options);
                $(window).resize(function () {
                    drawStacked();
                });
                }
            },
            error: function (xhr) {
                //alert('error' + xhr[0]);
            }
        });
    };
	</script>







</head>

<body>
	<div class="col-lg-12">
		<div class="card shadow mb-4">
			<div class="card-header">
				<h6 class="m-0 font-weight-bold text-dark">Reporte de Tickets Asignados y Finalizados</h6>
			</div>
			<div class="card-body card-block border-bottom-light">
				<div class="container">
					<div class="form-horizontal">
						@Html.Partial("Reporte01")
					</div>
				</div>
			</div>
		</div>
		<div class="card shadow mb-4">
			<div class="card-header">
				<h6 class="m-0 font-weight-bold text-dark">Reporte de Tickets Solicitados y Asignados por Fecha</h6>
			</div>
			<div class="card-body card-block border-bottom-light">
				<div class="container">
					<div class="form-horizontal">
						@Html.Partial("Reporte02")
					</div>
				</div>
			</div>
		</div>
		<div class="card shadow mb-4">
			<div class="card-header">
				<h6 class="m-0 font-weight-bold text-dark">Reporte de tickets generados por Tópico</h6>
			</div>
			<div class="card-body card-block border-bottom-light">
				<div class="container">
					<div class="form-horizontal text-center">
						<div id="piechart3" style="width: 900px; height: 500px;"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="card shadow mb-4">
			<div class="card-header">
				<h6 class="m-0 font-weight-bold text-dark">Reporte de tickets generados por departamento</h6>
			</div>
			<div class="card-body card-block border-bottom-light">
				<div class="container">
					<div class="form-horizontal text-center">
						<div id="piechart4" style="width: 900px; height: 500px;"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="card shadow mb-4">
			<div class="card-header">
				<h6 class="m-0 font-weight-bold text-dark">Reporte cantidad de trabajadores por skill</h6>
			</div>
			<div class="card-body card-block border-bottom-light">
				<div class="container">
					<div class="form-horizontal text-center">
						<div id="chart_div1" ></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
@*<html>
<head>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		google.charts.load('current', { packages: ['corechart', 'bar'] });
		google.charts.setOnLoadCallback(drawMaterial);

		function drawMaterial() {
			var data = google.visualization.arrayToDataTable([
				['City', '2010 Population', '2000 Population'],
				['New York City, NY', 8175000, 8008000],
				['Los Angeles, CA', 3792000, 3694000],
				['Chicago, IL', 2695000, 2896000],
				['Houston, TX', 2099000, 1953000],
				['Philadelphia, PA', 1526000, 1517000]
			]);

			var materialOptions = {
				chart: {
					title: 'Population of Largest U.S. Cities'
				},
				hAxis: {
					title: 'Total Population',
					minValue: 0,
				},
				vAxis: {
					title: 'City'
				},
				bars: 'horizontal'
			};
			var materialChart = new google.charts.Bar(document.getElementById('chart_div2'));
			materialChart.draw(data, materialOptions);
		}
	</script>
</head>
<body>
	<div id="barchart_material" style="width: 900px; height: 500px;"></div>
</body>
</html>*@
