

@model IEnumerable<Entity.Ticket>
@{
	Layout = "~/Views/Shared/_Layout_Administrador.cshtml";
	ViewBag.Title = "VerTicketsClientes";
}

<div class="col-lg-12">
	<div class="card shadow mb-4">
		<div class="card-header">
			<h6 class="m-0 font-weight-bold text-dark">HISTORIAL DE TICKETS</h6>
		</div>
		<div class="card-body card-block border-bottom-light">
			@if (ViewBag.Agregado != null)
			{
				<div class="container">
					<div class="alert alert-success alert-dismissible">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Éxito!</strong> @ViewBag.Agregado
					</div>
				</div>
			}
			@if (ViewBag.mensajeInformativo != null)
			{
				<div class="container">
					<div class="alert alert-warning alert-dismissible">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Atención!</strong> @ViewBag.mensajeInformativo
					</div>
				</div>
			}
			@if (ViewBag.Error != null)
			{
				<div class="container">
					<div class="alert alert-danger alert-dismissible">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Error!</strong> @ViewBag.Error
					</div>
				</div>
			}
			<div class="container">
				<h2>Ver Tickets</h2>
				<p>Todos tus tickets solicitados</p>
				<table class="table">
					<thead>
						<tr>
							<th>Codigo de Atención</th>
							<th>Solicitante</th>
							<th>Tópico</th>
							<th>Descripción</th>
							<th>Estado</th>
							<th>Importancia</th>
							<th>Opciones</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>@item.codigo_atencion</td>
								<td>@item.Usuario_Modulo_Rol.usuario_id</td>
								<td>@item.Topico.topico</td>
								<td>@item.descripcion</td>
								<td>@item.estado</td>
								<td>@item.importancia</td>
								<td>@Html.ActionLink("Editar", "Editar_Tickets", new { id = item.codigo_atencion }) | @Html.ActionLink("Asignar", "#", new { id = item.codigo_atencion })</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
				<div class="modal-dialog modal-xl">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body">
							<div id="resultado"></div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<script>
        function llamarVistaParcial() {
            var laURLDeLaVista = '@Url.Action("Detalle_Tickets", "ModuloCliente")';
            $.ajax({
                cache: false,
                async: true,
                type: "GET",
                url: laURLDeLaVista,
                data: {},
                success: function (response) {
                    $('#resultado').html('');
                    $('#resultado').html(response);
                }
            });
        }
			</script>
		</div>
	</div>
</div>

